<h3>Interpolação</h3>
<p>
  Apresenta um dado do componente no HTML<br>
  Ex.: <i>{{meunome}}</i> veio lá do componente - É um atributo privado com um get() específico<br>
  Ex2.: {{40+10}} é uma soma feita diretamente<br>
  Ex3.: {{getValor()}} é uma soma feita em método do componente
</p>

<input [value] = "alunos.length">

<ul>
  <li *ngFor="let aluno of alunos"> {{aluno.nomeAluno}} </li>
</ul>

<h3>Binding de Propriedade</h3>

<span [style.color]="cor">Texto em {{cor}} </span>
<span [innerHTML]="html"></span>

<h3>Binding de Evento</h3>

<input #nuevoNome>
<button (click)="mudaNome(nuevoNome.value)">Muda nome!</button>

<button type="button" (click)="evento($event)">Evento</button>
{{getevent}}